<!DOCTYPE html>
<!-- build:include partials/_head.html --><!-- /build -->
<!-- build:include components/header.html --><!-- /build -->
<script type="text/javascript">
	var currentPage = 'index';
</script>
<div id="content" class="content">
  <!-- build:include components/home-promo.html --><!-- /build -->
  <!-- build:include components/home-text-block.html --><!-- /build -->
  <!-- build:include components/home-promo-gallery.html --><!-- /build -->
  <!-- build:include components/feedback.html --><!-- /build -->
</div>
<!-- build:include components/popups.html --><!-- /build -->
<!-- build:include components/footer.html --><!-- /build -->
<!-- build:include partials/_foot.html --><!-- /build -->