<div class="contacts-block-wrapper">
	<!--<div class="contacts-block-wrapper-top"></div>-->
	<div class="contacts-block">
		<div class="contacts-block-image">
			<img src="img/bg-contacts-person.png">
		</div>
		<div class="contacts-block-content">
			<div class="contacts-container-wrapper">
				<div class="contacts-container">
					<div class="contact-block-element">
						<p class="contact-title">EMAIL</p>
						<a class="contact-content" href="">maximlyzo@gmail.com</a>
					</div>
					<div class="contact-block-element">
						<p class="contact-title">PHONE | VIBER | WHATSAPP</p>
						<a class="contact-content" href="tel:+375 29 7628030">+375 (29) 7628030</a>
					</div>
					<div class="contact-block-element">
						<p class="contact-title">SKYPE</p>
						<a class="contact-content" href="skype:maxprostota?chat">maxprostota</a>
					</div>
					<div class="contact-block-element">
						<p class="contact-title">ON THE WEB</p>
						<a class="contact-content inline-contact-element with-line" href="https://twitter.com/maxprostota">Twitter</a>
						
						<a class="contact-content inline-contact-element with-line" href="https://vk.com/maxlyzo" class="item">VKontakte</a>
						
						<a class="contact-content inline-contact-element" href="https://www.facebook.com/max.lyzo">Facebook</a>
						<a class="contact-content inline-contact-element with-line" href="https://instagram.com/maxlyzo/">Instagram</a>
						
						<a class="contact-content inline-contact-element" href="https://www.youtube.com/channel/UCe4ckbASDcuC9sXVAp2-Cyg">You Tube</a>
					</div>
					<div class="contact-block-element">
						<p class="contact-title">ADDRESS</p>
						<a class="contact-content">Беларусь, Минск, ул Ленина д.4</a>
					</div>
				</div>
			</div>
		</div>
		<div class="promo-tile mail"></div>
		<div class="promo-tile email"></div>
		<div class="promo-tile phone"></div>
		<div class="promo-tile internet"></div>
		<div class="promo-tile event-contacts-ny"></div>
		<div class="promo-tile event-contacts-ny-santa-box"></div>
	</div>
	<div class="red-line-promo">
		<div class="red-line-block"></div>
		<div class="red-line-content">
			<div class="red-line-img right"></div>
		</div>
	</div>
	<div class="map-block">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1175.3492287189401!2d27.561808579847934!3d53.901563368383606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sby!4v1449477542750" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
	<!--<div class="contacts-block-wrapper-bottom"></div>-->
</div>

<div class=""></div>