<section class="feedback">
	<div class="feedback-item">
		<div class="item-image"><img src="img/feedback/marina_androsova.png"></div><!--
		--><div class="item-content">
			<p class="feedback-title">Marina Androsova</p>
			<p class="feedback-message">Вот он - ведущий моей мечты! Наш Макс! Самый обаятельный, талантливый,веселый, харизматичный, креативный ! Да и просто замечательный человек!)Настоящий профессионал своего дела!!!!! Всё на позитиве и креативе!!!! #реалитишоуавтобус #busshowby</p>
			<a href="https://vk.com/marinaandrosova" class="feedback-link">Кто это?</a>
		</div>
	</div>
	<div class="feedback-item">
		<div class="item-image"><img src="img/feedback/karina_ismailova.jpg"></div><!--
		--><div class="item-content">
			<p class="feedback-title">Karina Ismailova</p>
			<p class="feedback-message">Макс! Хотим сказать ОГРОМНОЕ СПАСИБО за отличнейшее проведение нашей свадьбы! Все было клево, суперски, зажигательно, жизнерадостно и здорово! Нереальный поток юмора, шуток, веселья, креатива не оставил равнодушным никого в этот вечер! Ни один гость не остался без внимания, все были в восторге! Мы очень рады, что доверили праздник именно тебе! Реквизит для фотосессии и во время танцев очень разнообразили фото с банкета!))</p>
			<a href="https://vk.com/mini_vip_ledi" class="feedback-link">Кто это?</a>
		</div>
	</div>
	<div class="feedback-item">
		<div class="item-image"><img src="img/feedback/viktor_makeychik.jpg"></div><!--
		--><div class="item-content">
			<p class="feedback-title">Viktor Makeychik</p>
			<p class="feedback-message">Выражаем благодарность Максиму за проведение нашей свадьбы. Нам и нашим гостям все очень понравилось. Энергичный, веселый, позитивный, все прошло на одном дыхании, очень здорово - в общем, хвалим!!)</p>
			<a href="https://vk.com/vitek_makei" class="feedback-link">Кто это?</a>
		</div>
	</div>
</section>