<div class="footer-wrapper">
	<div id="footer" class="footer">
		<div class="footer-contacts-block">
			<div class="footer-navigation">
				<ul class="footer-nav-list">
					<li class="footer-nav-item"><a href="http://www.maximlyzo.com">ГЛАВНАЯ</a></li>
					<li class="footer-nav-item"><a href="http://www.maximlyzo.com/contacts.html">КОНТАКТЫ</a></li>
				</ul>
			</div>
			<div class="social-icons-line">
				<a href="https://twitter.com/maxprostota" class="item">
					<div class="item-icon"></div>
					<p>twitter</p>
				</a>
				<a href="https://vk.com/maxlyzo" class="item">
					<div class="item-icon vkontakte"></div>
					<p>vkontakte</p>
				</a>
				<a href="https://www.facebook.com/max.lyzo" class="item facebook">
					<div class="item-icon facebook"></div>
					<p>facebook</p>
				</a>
				<a href="https://instagram.com/maxlyzo/" class="item instagramm">
					<div class="item-icon instagram"></div>
					<p>instagram</p>
				</a>
				<a href="https://www.youtube.com/channel/UCe4ckbASDcuC9sXVAp2-Cyg" class="item">
					<div class="item-icon you-tube"></div>
					<p>you tube</p>
				</a>
				<a href="skype:maxprostota?chat" class="item">
					<div class="item-icon skype"></div>
					<p>skype</p>
				</a>
			</div>
			<div class="footer-promo-text">
				<p>24/7 создаю и дарю отличное настроение всем вокруг себя.</p>
			</div>
			<div class="footer-contacts-text">
				<a class-"contact-item" href="">maximlyzo@gmail.com</a>
				<a class-"contact-item" href="">+375 (29) 7628030</a>
				<a class-"contact-item" href="">Belarus, Minsk</a>
			</div>
			<div class="footer-copyright">
				<span>© 2015 Максим Лызо</span>
			</div>
		</div>
	</div>
</div>