<div id="header" class="header">
	<div class="header-content">
		<div class="logo">
			<a href="http://maximlyzo.com"><img src="img/logo.png" alt="Max Lyzo Logo Image"></a>
		</div>
		<div class="social-buttons">
			<ul>
				<li><a href="https://www.facebook.com/max.lyzo" target="_blank" rel="nofollow"><img src="img/social_icons/facebook.png"></a></li>
				<li><a href="https://instagram.com/maxlyzo/" target="_blank" rel="nofollow"><img src="img/social_icons/instagram.png"></a></li>
				<li><a href="https://vk.com/maxlyzo" target="_blank" rel="nofollow"><img src="img/social_icons/vk.png"></a></li>
			</ul>
		</div>
		<nav class="main-nav">
			<div class="phone-nav">
				<a href="tel:+375 29 7628030"><img src="img/header-phone.png" alt="+375 29 7628030"></a>
			</div>
			<ul class="main-nav-list">
				<li class="main-nav-item"><a href="http://www.maximlyzo.com">ГЛАВНАЯ</a></li>
				<li class="main-nav-item"><a href="http://www.maximlyzo.com/contacts.html">КОНТАКТЫ</a></li>
			</ul>
		</nav>
	</div>
</div>