<div class="home-text-block-title-wrapper">
	<div class="home-text-block-title"><h2>Ищите креативного ведущего? Есть интересный проект и нужен тот, кто поможет его реализовать?</h2></div>
</div>
<div class="home-text-block-wrapper">
	<div class="home-text-block">
		<ul>
			<li>
				<h2 class="text-block-description">Cмело обращайтесь ко мне! Я знаю, как провести на высоком уровне любое Ваше событие, от деловой презентации, до душевной свадьбы или разрывного корпоратива.</h2>
			</li>
			<li>
				<h2>Испытываю слабость к нестандартным сценариям, организации розыгрышей, креативным поздравлениям  и хорошему настроению!</h2>
			</li>
			<li>
				<h2>С удовольствием приму  участие в творческом вечере Александра Солодухи и угощу вас чашечкой ароматного кофе в любимой кофейне на Карла Маркса.</h2>
			</li>
		<div class="text-block-image"><img src="img/microphone-part.png"></div>
		</ul>
	</div>
</div>