<div class="home-promo-wrapper">
	<div class="home-promo">
		<div class="home-promo-img">
			<img src="img/bg-home-person.png" alt="Maxim Lyzo">
			<div class="home-promo-bubbles"></div>
		</div>
		<div class="home-promo-content">
			<div class="home-promo-title">
				<h2 class="title">Hello! Ola! Bonjour! Привет!</h2>
				<h2>Добро пожаловать на мой сайт. Меня зовут Максим Лызо. Я - шоумен, актер, телеведущий. Каждую неделю множество людей доверяют мне самые безбашенные, красивые, яркие и трогательные события своей жизни. И хотелось бы признаться ВАМ, я очень люблю свою работу!</h2>
			</div>
			<div class="home-promo-video">
				<iframe  src="https://www.youtube.com/embed/oJCSBp-1sIo" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="promo-tile mic"></div>
		<div class="promo-tile mic-big"></div>
		<div class="promo-tile mic-stand"></div>
		<div class="promo-tile camera"></div>
		<div class="promo-tile event-home-ny"></div>
	</div>
	<div class="red-line-promo">
		<div class="red-line-block"></div>
		<div class="red-line-content">
			<div class="red-line-img"></div>
		</div>
	</div>
</div>