<div class="popups vote-me-popup-wrapper" id="vote-me-popup">
	<div class="vote-me-popup">
		<div id="popup-close-button" class="close-button"></div>
		<div class="popup-content">
			<p class="title">Объявляю всеобщий сбор :)</p>
			<p>Друзья, клиенты или просто случайно заблудшие на мою страницу люди!</p>
			<p>Я участвую в Свадебной Премии "Золотой Купидон" 2015 в номинации "Лучший свадебный ведущий"</p>
			<a href="http://www.prazdnik.by/content/detail/8/2325/107716/">http://www.prazdnik.by/content/detail/8/2325/107716</a>
			<p class="title">Я прошу Вас принять участие. Отправьте пожалуйста СМС на номер 7755 с сообщением 635 (стоимость SMS-сообщения составляет 4200 рублей с учетом НДС для абонентов velcom и МТС; для life:) - 8280 рублей с учетом НДС.)</p>
			<p>Огромное спасибо и низкий поклон каждому отозвавшемуся ;)</p>
		</div>
	</div>
</div>